@model Usuarios
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Usuarios" method="post">
            <div class="mb-3">
                <label for="Nombres" class="form-label">Nombres</label>
                <input asp-for="nombres" type="text" class="form-control" id="Nombres" required>
            </div>
            <div class="mb-3">
                <label for="Apellidos" class="form-label">Apellidos</label>
                <input asp-for="apellidos" type="text" class="form-control" id="Apellidos" required>
            </div>
            <div class="mb-3">
                <label for="Email1" class="form-label">Email</label>
                <input asp-for="email" type="email" class="form-control" id="Email1" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Contrasenia</label>
                <input asp-for="contrasenia" type="password" class="form-control" id="Password" required maxlength="15">
            </div>
            <button type="submit" class="btn btn-primary">Editar</button>
            <a asp-action="Index" asp-controller="Citas" class="btn btn-primary">Regresar</a>
        </form>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
</div>

