@{
    ViewData["Title"] = "ErrorCustom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center mb-3">
    <img src="https://www.netbraintech.com/wp-content/uploads/2017/04/Error.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="mb-3 flex-column-4 text-center">
    <h3>Parece que ha pasado algo:</h3>
    <a class="boton_personalizado" asp-controller="Home" asp-action="Index">Click aqui para regresara al Home!!!</a>   
</div>

