@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Política de privacidad de mi sitio web</h1>

<p>En este sitio web, nos tomamos muy en serio la privacidad de nuestros usuarios. Aquí describimos cómo recopilamos y utilizamos la información de los usuarios de este sitio.</p>

<p>Recopilación de información: recopilamos información personal del usuario, incluyendo el nombre y la dirección de correo electrónico, a través de formularios de contacto y otros medios de comunicación con el usuario.</p>

<p>Uso de la información: utilizamos la información recopilada para proporcionar un mejor servicio al usuario, como responder a consultas y enviar actualizaciones y ofertas especiales.</p>

<p>Compartir información: no compartimos la información del usuario con terceros a menos que sea necesario para proporcionar un servicio solicitado por el usuario o requerido por la ley.</p>

<p>Seguridad: tomamos medidas para proteger la información del usuario, incluyendo el uso de cifrado de datos y la implementación de políticas de seguridad.</p>

<p>Actualizaciones de la política: esta política de privacidad puede ser actualizada en cualquier momento sin previo aviso. Se recomienda a los usuarios que revisen esta política regularmente.</p>