@model CitasDetalles
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Citas" method="post">
            <div class="mb-3">
                <label for="Marca" class="form-label">Fecha</label>
                <input asp-for="fecha" type="date" class="form-control" id="Marca" required>
            </div>
            <div class="mb-3">
                <label for="Modelo" class="form-label">Horario</label>
                <input asp-for="hora" type="text" class="form-control" id="Modelo" required>
            </div>
             <div class="mb-3">
                <label for="Modelo" class="form-label">Modelo</label>
                <input asp-for="descripcion" type="text" class="form-control" id="Modelo" required>
            </div>

            <button type="submit" class="btn btn-primary">Editar</button>
            <a asp-action="Index" asp-controller="Citas" class="btn btn-primary">Regresar</a>
        </form>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
</div>


